/*BG Colors*/

$BG-white: white;
$BG-lightgray: #f8f9fa;
$BG-magenta: #F5007A;

/*Color*/

$colour-black: black;
$colour-gray: gray;
$colour-darkgray: darkgray;

/*Shadow*/

$shadow-light: lightgray;
$shadow-dark: black;