/*BG Colors*/
/*Color*/
/*Shadow*/
/*BODY*/
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

/*BG Colors*/
/*Color*/
/*Shadow*/
#headerContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 5px lightgray;
  position: -webkit-sticky;
  position: sticky;
  align-items: center;
}
#headerContainer .imgHeaderContainer {
  float: left;
  margin: 0px 0px 0px 17em;
  width: 5em;
  height: 2.5em;
  background-color: #F5007A;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
#headerContainer #mainMenu {
  width: 100%;
}
#headerContainer #mainMenu ul {
  margin-right: 15em;
  display: flex;
  float: right;
  flex-direction: row;
  align-items: flex-end;
  list-style-type: none;
}
#headerContainer #mainMenu li {
  display: inline-block;
  padding: 0.5em 0;
}
#headerContainer #mainMenu li a {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 1em;
  padding: 0.1em 0;
  color: gray;
  transition: 0.5s;
}
#headerContainer #mainMenu li a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #F5007A;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
#headerContainer #mainMenu li a:hover {
  color: black;
}
#headerContainer #mainMenu li a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

/*Responsive*/
/*1370px*/
@media screen and (max-width: 1370px) {
  #headerContainer .imgHeaderContainer {
    margin: 0px 0px 0px 10em;
  }
}
/*957px*/
@media screen and (max-width: 957px) {
  #headerContainer .imgHeaderContainer {
    margin: 0px 0px 0px 5em;
  }
}
/*881px*/
@media screen and (max-width: 881px) {
  #headerContainer .imgHeaderContainer {
    margin: 0px 0px 0px 4.6em;
  }
}
/*782px*/
@media screen and (max-width: 782px) {
  #headerContainer {
    grid-template-columns: none;
  }
  #headerContainer .imgHeaderContainer {
    display: none;
  }
}
/*658*/
@media screen and (max-width: 658px) {
  #headerContainer {
    grid-template-columns: none;
    width: 100%;
  }
  #headerContainer #mainMenu ul {
    margin: 0px 0em 0px 10em;
    padding: 0px;
  }
  #headerContainer .imgHeaderContainer {
    display: none;
  }
}
/*375*/
@media screen and (max-width: 460px) {
  #headerContainer {
    grid-template-columns: none;
    width: 100%;
  }
  #headerContainer #mainMenu ul {
    margin: 0px 0em 0px 0em;
  }
  #headerContainer .imgHeaderContainer {
    display: none;
  }
}
/*375*/
@media screen and (max-width: 375px) {
  #headerContainer {
    grid-template-columns: none;
    width: 100%;
  }
  #headerContainer #mainMenu ul {
    margin: 0px 2em 0px 0em;
  }
  #headerContainer .imgHeaderContainer {
    display: none;
  }
}
/*BG Colors*/
/*Color*/
/*Shadow*/
#contact {
  width: 100%;
  display: flex;
  padding: 3em;
  align-items: center;
  justify-content: center;
  box-shadow: -1px -1px 5px lightgray;
}
#contact #emailContainer #h1Footer {
  font-size: 3em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid black;
}
#contact #emailContainer #email {
  font-size: 1.5em;
  color: gray;
}
#contact #socialMedia {
  display: flex;
  font-size: 1em;
  padding: 3em;
  align-items: center;
  justify-content: center;
}
#contact #socialMedia img {
  float: left;
  margin-right: 0.3em;
}
#contact #socialMedia a {
  font-size: 1.3em;
  color: black;
  text-decoration: none;
}

/*Responsive*/
/*1370*/
@media screen and (max-width: 1370px) {
  #contact #emailContainer #h1Footer {
    font-size: 2em;
  }
  #contact #emailContainer #email {
    font-size: 1em;
    color: gray;
  }
  #contact #socialMedia img {
    width: 70%;
  }
  #contact #socialMedia a {
    font-size: 1em;
  }
}
/*811px*/
@media screen and (max-width: 811px) {
  #contact #emailContainer #h1Footer {
    font-size: 2em;
  }
  #contact #emailContainer #email {
    font-size: 1em;
    color: gray;
  }
  #contact #socialMedia img {
    width: 70%;
  }
  #contact #socialMedia a {
    font-size: 1em;
  }
}
/*375px*/
@media screen and (max-width: 460px) {
  #contact #emailContainer #h1Footer {
    font-size: 2em;
  }
  #contact #emailContainer #email {
    font-size: 1em;
    color: gray;
  }
  #contact #socialMedia {
    padding: 1em;
  }
  #contact #socialMedia img {
    width: 1em;
  }
  #contact #socialMedia a {
    font-size: 1em;
  }
}
/*COVER*/
#cover {
  /*Display Set Up*/
  display: grid;
  grid-template-columns: 30% 70%;
  grid-row-gap: 1em;
}
#cover #coverTextContainer {
  padding: 0.8em;
  background-color: white;
}
#cover #coverTextContainer #title {
  padding-top: 6.5em;
  font-size: 3vmax;
  font-weight: 900;
}
#cover #coverTextContainer #jobPosition {
  font-size: 1vw;
}
#cover #coverImgContainer {
  width: 100%;
  position: relative;
  z-index: -3;
  width: 100%;
}
#cover #coverImgContainer img {
  width: 100%;
}

/*ABOUT ME*/
#aboutMe {
  margin: 10em 15em 0em 15em;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  align-items: center;
}
#aboutMe #aboutMeImgContainer img {
  width: 100%;
  border-radius: 10px;
}
#aboutMe #aboutMeName {
  margin: 0px;
  font-size: 2.5vw;
  font-weight: bold;
}
#aboutMe #aboutMeJobs {
  font-weight: bold;
  font-size: 0.8vw;
}
#aboutMe .aboutMeText {
  line-height: 150%;
  font-size: 1.2vw;
  font-weight: 350;
}
#aboutMe .btn {
  width: 20%;
  font-size: 1vw;
  border-radius: 50px;
  background-color: black;
  border-color: black;
  color: white;
  cursor: pointer;
}
#aboutMe .btn:hover {
  background-color: white;
  border-color: black;
  color: black;
}

/*SKILLS*/
#skillsContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: 7.5em 15em 0px 15em;
}
#skillsContainer .skillTextContainer .skillTitle {
  font-size: 1.2vw;
  font-weight: bold;
}
#skillsContainer .skillTextContainer .skillText {
  font-size: 1vw;
}

/*PORTFOLIO*/
#portfolio {
  padding: 0px 15em 5em 15em;
  margin-top: 10em;
  background-color: #f8f9fa;
  width: 100%;
}
#portfolio #portfolioTitle {
  padding-top: 1.5em;
  font-size: 5em;
  border-bottom: 1px solid gray;
}
#portfolio #portfolioWrapper {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 1em;
  padding: 1.5em;
}
#portfolio #portfolioWrapper .work {
  display: flex;
  align-items: center;
  justify-content: center;
}
#portfolio #portfolioWrapper .work .workImgContainer {
  box-shadow: 1px 1px 5px black;
  z-index: 1;
}
#portfolio #portfolioWrapper .work .portfolioTextContainer {
  margin: 0px;
  padding: 1.5em;
  width: 50%;
  font-size: 1vw;
  box-shadow: 1px 1px 5px lightgray;
  background-color: white;
  z-index: 0;
}
#portfolio #portfolioWrapper .work .portfolioTextContainer .workTitle {
  border-left: 2px solid black;
  padding-left: 1em;
  font-size: 2em;
  font-weight: bold;
}
#portfolio #portfolioWrapper .work .portfolioTextContainer a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/*Responsive*/
/*1371px*/
@media screen and (max-width: 1371px) {
  /*COVER*/
  #cover #coverTextContainer #jobPosition {
    font-size: 1.5vw;
  }

  /*ABOUT*/
  #aboutMe {
    margin: 10em 5em 0em 5em;
  }
  #aboutMe #aboutMeJobs {
    font-size: 1.2vw;
  }
  #aboutMe .aboutMeText {
    line-height: 150%;
    font-size: 1.3vw;
    font-weight: 400;
  }
  #aboutMe .btn {
    font-size: 1.1vw;
  }

  /*SKILLS*/
  #skillsContainer {
    margin: 7.5em 5em 0px 5em;
  }
  #skillsContainer .skillTextContainer .skillTitle {
    font-size: 1.4vw;
  }
  #skillsContainer .skillTextContainer .skillText {
    font-size: 1.3vw;
  }

  /*PORTFOLIO*/
  #portfolio {
    padding: 0px 5em 5em 5em;
  }
  #portfolio #portfolioTitle {
    padding-top: 1.5em;
    font-size: 5em;
    border-bottom: 1px solid gray;
  }
  #portfolio #portfolioWrapper {
    grid-row-gap: 10em;
  }
  #portfolio #portfolioWrapper .work .workImgContainer {
    box-shadow: 1px 1px 5px black;
    z-index: 1;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer {
    font-size: 1.1vw;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer .workText {
    font-size: 1.3vw;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer .workTitle {
    border-left: 2px solid black;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer a {
    font-size: 1.1vw;
  }
}
/*1142px*/
@media screen and (max-width: 1142px) {
  /*COVER*/
  #cover #coverTextContainer #jobPosition {
    font-size: 1.5vw;
  }

  /*ABOUT*/
  #aboutMe .aboutMeText {
    line-height: 150%;
    font-size: 1.5vw;
    font-weight: 400;
  }
  #aboutMe .btn {
    width: 25%;
    font-size: 1.2vw;
  }

  /*SKILLS*/
  #skillsContainer .skillTextContainer .skillTitle {
    font-size: 1.8vw;
  }
  #skillsContainer .skillTextContainer .skillText {
    font-size: 1.5vw;
  }

  /*PORTFOLIO*/
  #portfolio {
    padding: 0px 5em 5em 5em;
  }
  #portfolio #portfolioTitle {
    padding-top: 1.5em;
    font-size: 5em;
  }
  #portfolio #portfolioWrapper {
    grid-row-gap: 10em;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer {
    font-size: 1.1vw;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer .workText {
    font-size: 1.5vw;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer a {
    font-size: 1.3vw;
  }
}
/*957*/
@media screen and (max-width: 957px) {
  /*COVER*/
  #cover #coverTextContainer #jobPosition {
    font-size: 2vw;
  }

  /*ABOUT*/
  #aboutMe {
    margin: 10em 5em 0em 5em;
  }
  #aboutMe #aboutMeImgContainer img {
    width: 100%;
    border-radius: 10px;
  }
  #aboutMe #aboutMeJobs {
    font-weight: 700;
    font-size: 1.4vw;
  }
  #aboutMe .aboutMeText {
    line-height: 150%;
    font-size: 1.7vw;
    font-weight: 400;
  }
  #aboutMe .btn {
    width: 30%;
    font-size: 1.3vw;
  }

  /*SKILLS*/
  #skillsContainer {
    margin: 7.5em 5em 0px 5em;
  }
  #skillsContainer .skillTextContainer .skillTitle {
    font-size: 2vw;
    font-weight: bold;
  }
  #skillsContainer .skillTextContainer .skillText {
    font-size: 1.6vw;
  }

  /*PORTFOLIO*/
  #portfolio {
    padding: 0px 5em 5em 5em;
  }
  #portfolio #portfolioTitle {
    padding-top: 1.5em;
    font-size: 5em;
    border-bottom: 1px solid gray;
  }
  #portfolio #portfolioWrapper {
    grid-row-gap: 10em;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer {
    font-size: 1.3vw;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer .workText {
    font-size: 1.8vw;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer .workTitle {
    border-left: 2px solid black;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer a {
    font-size: 1.5vw;
  }
}
/*881px*/
@media screen and (max-width: 881px) {
  /*ABOUT*/
  #aboutMe .btn {
    width: 30%;
    font-size: 1.5vw;
  }

  /*SKILLS*/
  #skillsContainer {
    margin: 7.5em 5em 0px 5em;
  }
  #skillsContainer .skillTextContainer .skillTitle {
    font-size: 2.1vw;
    font-weight: bold;
  }
  #skillsContainer .skillTextContainer .skillText {
    font-size: 1.7vw;
  }

  /*PORTFOLIO*/
  #portfolio {
    padding: 0px 3em 5em 3em;
  }
  #portfolio #portfolioWrapper {
    grid-row-gap: 10em;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer {
    font-size: 1.5vw;
    line-height: 1.8;
    /*LINK*/
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer .workText {
    font-size: 1.9vw;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer .workTitle {
    border-left: 2px solid black;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer a {
    font-size: 1.6vw;
  }
}
/*782px*/
@media screen and (max-width: 782px) {
  /*ABOUT ME*/
  #aboutMe #aboutMeJobs {
    font-weight: bold;
    font-size: 0.9em;
  }
  #aboutMe .aboutMeText {
    font-size: 1em;
    font-weight: 400;
  }
  #aboutMe .btn {
    width: 40%;
    font-size: 0.8em;
  }
  #aboutMe .btn:hover {
    background-color: white;
    border-color: black;
    color: black;
  }

  /*SKILLS*/
  #skillsContainer {
    margin: 7.5em 3em 0px 3em;
  }
  #skillsContainer .skillTextContainer .skillTitle {
    font-size: 2.3vw;
    font-weight: bold;
  }
  #skillsContainer .skillTextContainer .skillText {
    font-size: 1.9vw;
  }

  /*PORTFOLIO*/
  #portfolio {
    padding: 0px 2em 5em 2em;
  }
  #portfolio #portfolioWrapper {
    grid-row-gap: 5em;
  }
  #portfolio #portfolioWrapper .work .workImgContainer {
    display: none;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer {
    font-size: 1.7vw;
    line-height: 1.8;
    /*LINK*/
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer .workText {
    font-size: 2vw;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer .workTitle {
    border-left: 2px solid black;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer a {
    font-size: 1.8vw;
  }
}
/*658px*/
@media screen and (max-width: 658px) {
  /*COVER*/
  #cover {
    display: block;
  }
  #cover #coverTextContainer #title {
    padding-top: 1em;
    font-size: 2em;
  }
  #cover #coverTextContainer #jobPosition {
    font-size: 1em;
  }

  /*ABOUT ME*/
  #aboutMe {
    display: block;
    margin: 5em 5em 0em 5em;
  }
  #aboutMe #aboutMeImgContainer img {
    display: none;
  }
  #aboutMe #aboutMeName {
    display: none;
  }
  #aboutMe #aboutMeJobs {
    display: none;
  }
  #aboutMe .aboutMeText {
    font-size: 1em;
    font-weight: 400;
  }
  #aboutMe .btn {
    width: 50%;
    font-size: 0.8em;
  }
  #aboutMe .btn:hover {
    background-color: white;
    border-color: black;
    color: black;
  }

  /*SKILLS*/
  #skillsContainer {
    margin: 7.5em 3em 0px 3em;
    display: block;
  }
  #skillsContainer .skillTextContainer .skillTitle {
    font-size: 3vw;
    font-weight: bold;
  }
  #skillsContainer .skillTextContainer .skillText {
    font-size: 2.5vw;
  }

  /*PORTFOLIO*/
  #portfolio {
    padding: 0px 2em 5em 2em;
  }
  #portfolio #portfolioTitle {
    padding-top: 1.5em;
    font-size: 3em;
    margin-bottom: 1em;
  }
  #portfolio #portfolioWrapper {
    padding: 0em;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer {
    width: 100%;
    font-size: 1.8vw;
    line-height: 1.8;
    /*LINK*/
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer .workText {
    font-size: 2.5vw;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer .workTitle {
    border-left: 2px solid black;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer a {
    font-size: 2.3vw;
  }
}
/*375px*/
@media screen and (max-width: 375px) {
  /*COVER*/
  #cover {
    grid-template-columns: none;
    grid-row-gap: 0em;
  }
  #cover #coverTextContainer #title {
    padding-top: 0em;
  }
  #cover #coverTextContainer #jobPosition {
    font-size: 0.9em;
  }

  /*ABOUT*/
  #aboutMe {
    margin: 2em;
  }
  #aboutMe #aboutMeName {
    display: none;
  }
  #aboutMe #aboutMeJobs {
    display: none;
  }
  #aboutMe #aboutMeImgContainer img {
    display: none;
  }

  /*SKILLS*/
  #skillsContainer {
    margin: 5em 2em 0px 2em;
  }
  #skillsContainer .skillTextContainer .skillTitle {
    font-size: 1.2em;
  }
  #skillsContainer .skillTextContainer .skillText {
    font-size: 1em;
  }

  /*PORTFOLIO*/
  #portfolio {
    margin-top: 5em;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer {
    width: 100%;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer .workTitle {
    font-size: 3em;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer .workText {
    font-size: 2.5em;
  }
  #portfolio #portfolioWrapper .work .portfolioTextContainer a {
    font-size: 2em;
  }
  #portfolio #portfolioTitle {
    font-size: 2em;
  }
}/*# sourceMappingURL=main.css.map */